@import url(http://fonts.googleapis.com/earlyaccess/notosanskr.css);
a {
  color: #FF8C00;
}
a:hover {
  color: #cc5900;
}
body {
  font-family: 'Noto Sans KR', sans-serif;
}
.header {
  background-color: #FF8C00;
  height: 52px;
}
/* Make schedule table scrollable */
.schedules {
  width: 100%;
  overflow: auto;
}
.schedule-list {
  width: 1430px;
  margin: auto;
  display: block;
}
.date-navigation {
  height: 60px;
  width: 100%;
  text-align: center;
}
.date-navigation .content {
  vertical-align: middle;
  font-size: 1em;
  padding: 20px 0;
}
.goni-padding {
  height: 30px;
}
.hour-fixed {
  position: absolute;
  margin-top: 30px;
  background-color: white;
}
.hour {
  height: 80px;
  width: 30px;
  clear: both;
  border-left: solid black 1px;
  border-right: solid black 1px;
  border-bottom: solid black 1px;
  text-align: center;
  float: left;
  padding-top: 30px;
}
.table-header {
  float: left;
  height: 30px;
  width: 200px;
  background-color: #FF8C00;
  color: white;
  text-align: center;
  border-right: solid black 1px;
  border-top: solid black 1px;
  border-bottom: solid black 1px;
  padding-top: 5px;
}
.table-header.hour {
  width: 30px;
  clear: both;
  float: left;
  border-left: solid black 1px;
  border-right: solid black 1px;
  border-bottom: solid black 1px;
  text-align: center;
}
.schedule {
  font-size: 9pt;
  float: left;
  width: 200px;
  height: 80px;
  border-right: solid black 1px;
  border-bottom: solid black 1px;
  padding: 8px;
}
.schedule .time {
  color: #9C9C9C;
  font-weight: bold;
}
.schedule .title {
  font-weight: bold;
}
.schedule .rating {
  color: #FF8C00;
}
.schedule .rating-adult {
  color: red;
}
.schedule .rating-all {
  color: #08A000;
}
.notice {
  text-align: center;
  height: 3%;
  width: 100%;
  float: left;
  padding: 7px 0;
}
.footer {
  background-color: #FF8C00;
  line-height: 30px;
  color: white;
  text-align: center;
}
.footer a {
  color: white;
}
/* Custom nav bar */
.navbar-default {
  background-color: #FF8C00;
  border-color: #FF8C00;
}
.navbar-default .navbar-brand {
  color: #ffffff;
}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
  color: #ffffff;
}
.navbar-default .navbar-text {
  color: #ffffff;
}
.navbar-default .navbar-nav > li > a {
  color: #ffffff;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  color: #ffffff;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  color: #ffffff;
  background-color: #ffae22;
}
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
  color: #ffffff;
  background-color: #ffae22;
}
.navbar-default .navbar-toggle {
  border-color: #ffae22;
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
  background-color: #ffae22;
}
.navbar-default .navbar-toggle .icon-bar {
  background-color: #ffffff;
}
.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
  border-color: #ffffff;
}
.navbar-default .navbar-link {
  color: #ffffff;
}
.navbar-default .navbar-link:hover {
  color: #ffffff;
}
@media (max-width: 767px) {
  .navbar-default .navbar-nav .open .dropdown-menu > li > a {
    color: #ffffff;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #ffffff;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #ffffff;
    background-color: #ffae22;
  }
}
