{% extends 'scheduler_core/page_base.html' %}
{% load static %}

{% block title %}
Movie Scheduler | {{ day }}
{% endblock %}

{% block content %}
<!-- Navigation of date. -->
<div class="date-navigation">
    <div class="col-md-4 col-sm-4 col-xs-4">
        <div class="content">
            {% if previous_day %}
               <a href="{% url 'day' previous_day|date:'Y' previous_day|date:'m' previous_day|date:'d' %}">&laquo; {{ previous_day }}</a>
            {% endif %}
        </div>
    </div>
    <div class="col-md-4 col-sm-4 col-xs-4" style="font-weight: bold;">
        <div class="content">
            {{ day }}
        </div>
    </div>
    <div class="col-md-4 col-sm-4 col-xs-4">
        <div class="content">
            {% if next_day %}
                <a href="{% url 'day' next_day|date:'Y' next_day|date:'m' next_day|date:'d' %}">{{ next_day }} &raquo;</a>
            {% endif %}
        </div>
    </div>
</div>
<!-- End of navigation of date. -->
{% endblock %}

{% block schedules %}
{% load scheduler_core_tags %}
<!-- Schedule list. -->
<div class="schedules">
    <div class="schedule-list">
        <div class="table-header hour">H</div>
        <div class="table-header hour" style="position: absolute;">H</div>
        {% for bc in bc_list %}
            <div class="table-header broadcast_{{ bc.id }}">{{ bc.bc_name }}</div>
        {% endfor %}
        <!-- Fix hour string. -->
        <div class="hour-fixed">
            {% for hour in hours %}
            <div class="hour hour-{{ hour }}">{{ hour }}</div>
            {% endfor %}
        </div>
        <!-- Show programs -->
        {% for program_hour in programs_all %}
            <div class="hour hour-{{ program_hour.hour }}">{{ program_hour.hour }}</div>
            {% for company in program_hour.programs %}
                <div class="schedule broadcast_{{ company.company_id }} hour-{{ program_hour.hour }}">
                    {% for program in company.program_list %}
                        {% show_schedule %}
                    {% endfor %}
                </div>
            {% endfor %}
        {% endfor %}
    </div>
</div>
{% endblock %}

{% block notice %}
<!-- End of schedule list. -->
<div class="notice">
    <div class="content">
        <p>방송시간은 방송사의 사정으로 변경될 수 있습니다. 정확한 정보는 각 방송사 홈페이지를 참고해 주세요.</p>
    </div>
</div>
{% endblock %}

{% block additional_script %}
<script type="text/javascript" src="{% static 'scheduler_core/js/common.js' %}"></script>
<script type="text/javascript">
function hideSchedule() {
    var schedule_list_width = $(".schedule-list").width()
{% for bc in bc_list %}
    if (getCookie("broadcast_{{ bc.id }}") == "false") {
        $(".broadcast_{{ bc.id }}").hide();
        $(".schedule-list").width(schedule_list_width - 200)
        // Reduce width of schedule_list.
        schedule_list_width = schedule_list_width - 200;
    }
{% endfor %}
}

function checkOverflow() {
    $('.schedule').each(function() {
        if (this.scrollHeight > this.offsetHeight) {
            var className = $(this).attr('class');
            var hourClass = '.' + className.split(' ')[2];
            var height = $(this).height();
            $(hourClass).css('height', height + 40);
        }
    });
}

function checkCookieExistent() {
    var bcCount = {{ bc_list|length }};
    var noCount = 0;
{% for bc in bc_list %}
    if (getCookie("broadcast_{{ bc.id }}").length == 0) {
        noCount++;
    }
{% endfor %}

    if (bcCount == noCount)
        return false;
    else
        return true;
}

$(document).ready(function() {
    if (checkCookieExistent() == false) {
        location.href = '{% url 'setting' %}'
    }

    hideSchedule();

    checkOverflow();
});
</script>
{% endblock %}