<!DOCTYPE html>
{% load staticfiles %}
<!-- Bootstrap default template -->
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>
			{% block title %}
			{% endblock %}
		</title>

		<!-- Bootstrap -->
		<link rel="stylesheet" type="text/css" href="{% static 'scheduler_core/css/bootstrap.min.css' %}">
		<!-- Custom CSS (by Yungon) -->
		<link rel="stylesheet" type="text/css" href="{% static 'scheduler_core/css/custom.css' %}">
		{% block additional_style %}
		{% endblock %}

		<!-- Favicon -->
		<link rel="shortcut icon" type="image/png" href="{% static 'scheduler_core/img/favicon.ico' %}"/>

		<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
		<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
		<!--[if lt IE 9]>
			<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js">
			</script>
			<script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js">
			</script>
		<![endif]-->

		<!-- Google Analytics -->
		<script>
            (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
            (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
            m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
            })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

            ga('create', 'UA-103010502-1', 'auto');
            ga('send', 'pageview');

		</script>
		<!-- End of Google Analytics -->
	</head>
	<body>
		<nav class="navbar navbar-default">
			<div class="container">
				<!-- Brand and toggle get grouped for better mobile display -->
				<div class="navbar-header">
					<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						</button>
					<a class="navbar-brand" href="{% url 'today_schedule' %}">MovieScheduler</a>
				</div>
				<div id="navbar" class="navbar-collapse collapse">
					<ul class="nav navbar-nav navbar-right">
						<li><a href="{% url 'setting' %}" title="설정"><span class="glyphicon glyphicon-wrench"></span> 설정</a></li>
					</ul>
				</div>
			</div>
		</nav>
        <div class="container">
            {% block content %}
            {% endblock %}
        </div>
		{% block schedules %}

        {% endblock %}
        <div class="container">
            {% block notice %}
            {% endblock %}
        </div>
		<!-- Footer -->
		<div class="footer">
            <div class="container">
			2017 April Station Lab(Yungon Park). All rights reserved. |
			<a href="{% url 'license' %}">LICENSE</a>
            </div>
		</div>
		<!-- JQuery (Necessary for Bootstrap's JavaScript plugins) -->
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
		<!-- Include all compiled plugins (below), or include individual files as needed -->
		<script src="{% static 'scheduler_core/js/bootstrap.min.js' %}"></script>
		{% block additional_script %}
		{% endblock %}
	</body>
</html>
