{% extends 'scheduler_core/page_base.html' %}
{% load staticfiles %}

{% block title %}
Movie Scheduler | {{ day }}
{% endblock %}

{% block additional_style %}
<link rel="stylesheet" type="text/css" href="{% static 'scheduler_core/css/fixed_table_rc.css' %}" />
{% endblock %}

{% block content %}
<!-- Navigation of date. -->
<div class="date-navigation">
    <div class="col-md-4 col-sm-4 col-xs-4">
        <div class="content">
            {% if previous_day %}
               <a href="{% url 'day' previous_day|date:'Y' previous_day|date:'b' previous_day|date:'d' %}">&laquo; {{ previous_day }}</a>
            {% endif %}
        </div>
    </div>
    <div class="col-md-4 col-sm-4 col-xs-4" style="font-weight: bold;">
        <div class="content">
            {{ day }}
        </div>
    </div>
    <div class="col-md-4 col-sm-4 col-xs-4">
        <div class="content">
            {% if next_day %}
                <a href="{% url 'day' next_day|date:'Y' next_day|date:'b' next_day|date:'d' %}">{{ next_day }} &raquo;</a>
            {% endif %}
        </div>
    </div>
</div>
<!-- End of navigation of date. -->
<!-- Schedule list. -->
<div class="schedules">
    <table id="schedule_table">
        <thead>
            <tr>
                <th>H</th>
            {% for bc in bc_list %}
                <th class="broadcast_{{ bc.id }}">{{ bc.bc_name }}</th>
            {% endfor %}
            </tr>
        </thead>
        <tbody>
            {% for program_hour in programs_all %}
            <tr>
                <td class="hour">{{ program_hour.hour }}</td>
                {% for company in program_hour.programs %}
                    <td class="schedule broadcast_{{ company.company_id }}">
                        {% for program in company.program_list %}
                            <p>
                                <span class="time">{{ program.start_time.minute }}</span>&nbsp;
                                <span class="title">{{ program.title }}</span>&nbsp;
                            {% if program.ratings == None %}
                                <span></span>
                            {% elif program.ratings == 0 %}
                                <span class="rating-all">All</span>
                            {% elif program.ratings == 19 %}
                                <span class="rating-adult">{{ program.ratings }}</span>
                            {% else %}
                                <span class="rating">{{ program.ratings }}</span>
                            {% endif %}
                            </p>
                        {% endfor %}
                    </td>
                {% endfor %}
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
<!-- End of schedule list. -->
<div class="notice">
    <div class="content">
        <p>방송시간은 방송사의 사정으로 변경될 수 있습니다. 정확한 정보는 각 방송사 홈페이지를 참고해 주세요.</p>
        <p>
            <a href="http://kakao-tv.tistory.com/category/PLAYY%20%ED%8E%B8%EC%84%B1%ED%91%9C">
                Kakao TV의 PLAYY 영화/애니메이션 채널은 등급 정보를 제공하지 않습니다.
            </a>
        </p>
    </div>
</div>
{% endblock %}

{% block additional_script %}
<script type="text/javascript" src="{% static 'scheduler_core/js/fixed_table_rc.js' %}"></script>
<script type="text/javascript" src="{% static 'scheduler_core/js/common.js' %}"></script>
<script type="text/javascript">
function hideSchedule() {
{% for bc in bc_list %}
    if (getCookie("broadcast_{{ bc.id }}") == "false") {
        $(".broadcast_{{ bc.id }}").hide();
    }
{% endfor %}
}

$(document).ready(function() {
    $('#schedule_table').fxdHdrCol({
        fixedCols: 1,
        width: "100%",
        height: "100%",
        colModal: [
            { width: 30, align: 'center' },
            { width: 150, align: 'center' },
            { width: 150, align: 'center' },
            { width: 150, align: 'center' },
            { width: 150, align: 'center' },
            { width: 150, align: 'center' },
            { width: 150, align: 'center' },
            { width: 150, align: 'center' },
            { width: 150, align: 'center' },
            { width: 150, align: 'center' },
        ]
    });

    hideSchedule();
});
</script>
{% endblock %}