<!DOCTYPE html>
{% load staticfiles %}
<!-- Bootstrap default template -->
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>
			{% block title %}
			{% endblock %}
		</title>

		<!-- Bootstrap -->
		<link rel="stylesheet" type="text/css" href="{% static 'scheduler_core/css/bootstrap.min.css' %}">
		<!-- Custom CSS (by Yungon) -->
		<link rel="stylesheet" type="text/css" href="{% static 'scheduler_core/css/custom.css' %}">
		{% block additional_style %}
		{% endblock %}

		<!-- Favicon -->
		<link rel="shortcut icon" type="image/png" href="{% static 'scheduler_core/img/favicon.ico' %}"/>

		<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
		<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
		<!--[if lt IE 9]>
			<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js">
			</script>
			<script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js">
			</script>
		<![endif]-->
	</head>
	<body>
		<div class="header">
			<a href="{% url 'today_schedule' %}">MovieScheduler</a>
		</div>
        <div class="container">
            {% block content %}
            {% endblock %}
        </div>
		<!-- Footer -->
		<div class="footer">
			2017 April Station Lab. All rights reserved. |
			<a href="{% url 'license' %}">LICENSE</a>
		</div>
		<!-- JQuery (Necessary for Bootstrap's JavaScript plugins) -->
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
		<!-- Include all compiled plugins (below), or include individual files as needed -->
		<script src="{% static 'scheduler_core/js/bootstrap.min.js' %}"></script>
		{% block additional_script %}
		{% endblock %}
	</body>
</html>
